.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
httr-oauth
.secrets
client_secret_1070614989941-ci8eg0bk81pbacm1iqmuqhk1sql5be3p.apps.googleusercontent.com.json
rsconnect
test
enviar_email/despacho_complementacao.pdf
