/* Whole document: */
img{
     max-width:48px;
     max-height:48px;
}

p {
  text-align: justify;
}

body{
  font-family: Helvetica;
  font-size: 17pt;
  
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 30pt;
}